.createPostSection {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 24px;
  border: 1px solid var(--color-neutral-tertiary);
  border-radius: var(--card-border-radius);
  text-align: left;
}

.feedbackContainer {
  text-align: center;
}

.showFeedbackContainer {
  display: flex;
}

.hideFeedbackContainer {
  display: none;
}

.feedback {
  font-size: 0.875rem;
}

.feedbackSuccess {
  color: var(--color-feedback-success);
}

.feedbackError {
  color: var(--color-feedback-error);
}
