.header {
  background-color: var(--color-primary);
  text-align: left;
  color: var(--color-neutral-white);
  font-weight: 700;
  font-size: 1.375rem;
}

.pageHeader {
  padding: 24px 32px;
}

.postHeader {
  padding: 24px;
}
