:root {
  --color-neutral-white: #ffffff;
  --color-neutral-secondary: #dddddd;
  --color-primary: #7695ec;
  --color-primary-text: #000000;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--color-neutral-secondary);
}
