.container {
  background-color: var(--color-neutral-white);
  width: 100%;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 768px;
}

.content {
  padding: 24px;
}

.postsSection {
  display: flex;
  flex-direction: column;
}
