.button {
  background-color: var(--color-primary);
  padding: 8px 32px;
  border: none;
  border-radius: var(--button-border-radius);
  color: var(--color-neutral-white);
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
}

.button {
  text-align: center;
}

.text {
  border: 2px solid var(--color-neutral-white);
  color: var(--color-neutral-white);
}

.secondary {
  background-color: var(--color-neutral-white);
  color: var(--color-primary-text);
  border: 1px solid var(--color-neutral-tertiary);
}

.destructive {
  background-color: var(--color-feedback-error);
  color: var(--color-neutral-white);
}

.success {
  background-color: var(--color-feedback-success);
  color: var(--color-neutral-white);
}

.button:hover {
  opacity: 0.8;
}

.disabled {
  background-color: var(--color-neutral-tertiary);
  cursor: not-allowed;
}
